
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
}

.navbar a {
	margin: 10px 20px;
}

.navbar a img {
	height: auto;
	width: 80%;
}

.navbar .logo-show {
	opacity: 0;
	pointer-events: none;
}

@media (max-width: 575.98px) {
	.navbar a {
		margin: unset !important;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.navbar a {
		margin: unset !important;
	}
}